/* variables */

$font-main: "Montserrat";
$font-second: "Droid Serief";
$font-third: "Roboto"; 

$color-main: #ffffff;
$color-second: #ffd904;
$color-text-main: #000000;
$color-text-second: #5e5e5e;

/* global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-main;
  color: $color-text-main;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.titlebox {
  text-align: center;
  margin: 0 0 100px 0;

  .title {
    font-size: 48px;
    margin: 0 auto;
    color: $color-text-main;
  }

  .subtitle {
    font-size: 16px;
    margin: -20px 0 12px 0;
    color: $color-text-second;
    font-family: $font-second;
    font-style: italic;
  }
}

.subtitle {
  font-size: 18px;
  margin: 12px 0;
  text-align: center;
}



.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-position: 100% 0;
  background-size: 300%;
  color: $color-main;
  background-color: $color-second;
}

p {
  font-family: $font-main;
  color: $color-text-second;
  font-weight: lighter;
  font-size: 14px;
}

/* navigation */

.navigation {
    padding: 12px 0;


    .container  {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .golden {
        margin: 0 auto;
        color: $color-second;
        font-size: 25px;
        font-weight: bolder;
        font-style: italic;
        font-family: 'Grand Hotel';
        letter-spacing: 3px;
        text-decoration: none;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      display: inline-block;
      position: relative;

      ul {
        display: none;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 12px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        justify-content: flex-end;
      }
    } 


    li a {
      color: $color-text-main;
      display: block;
      padding: 0 24px;
      text-decoration: none;
      color: $color-main;
      text-transform: uppercase;
    }


    a:hover {
      color: $color-second;
    }

    ul ul li {
      display: block;
      margin: 0 5px 12px 5px;
      color: $color-text-second;
    }

    li ul li a:hover {
      color: $color-second;
    }
  }
  
  /* Header */

  .splash {
    background-image: url("images/header.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;

    .background {
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .splash-inner {
    margin: auto;
    max-width: 80%;
    text-align: center;
  }
  
  .page-title {
    margin: 0 auto;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    font-family: $font-main;
    line-height: 1.2;
    color: $color-main;
  
    span {
      font-family: $font-second;
      font-weight: bold;
    }
  }
  
  .page-subtitle {
    margin: 24px 0;
    font-size: 60px;
    font-weight: lighter;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-main;
  }
 
  /* services */
  
  .inner {
    flex: 0 0 33.3333%;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .inner p {
    font-family: $font-third;
    font-size: 12px;
  }
  
  .btn-two {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-color: $color-second;
    color: $color-second;
    background-image: linear-gradient(90deg, $color-second 50%, transparent 50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
  margin: 0 auto;
  padding: auto;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-size: 300%;
  color: $color-main;
  background-color: $color-second;
  position: relative;

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

  }
}
  
  /* portfolio */

  .portfolio {
    background-color: rgb(221, 221, 221);

    .wrapper {
      max-width: 950px;
      justify-content: space-between;
      margin: 0 auto;

      
    }
  }
  
  .wrapper-box {
    flex: 0 0 33.333%;
    padding: 25px;
    min-height: 300px;
  }
  
  .image {
    position: relative;
    padding: 0;
    margin: 0;
    height: 250px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .hiddenbutton {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 0;
    }
    
    .hiddenbutton:hover {
      background-color: $color-second;
      opacity: 0.3;
    }
  }

  
  .bottom {
    text-align: center;
    background-color: $color-main;
    margin: 0;
    padding: 20px 0;

    h3, p {
      margin: 0;
    }
  }

  /* footer */
  
  footer {
    padding: 48px 0;

    p {
      padding: 20px;
      position: absolute;
      margin: auto;
    }

    ul {
      max-width: 400px;
      margin: 0 auto;
      padding: 0;

      li {
        width: 60px;
        height: 60px;
        background-color: $color-text-main;
        font-size: 0;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        position: relative;
        margin: 0 5px;
        
  
        i {
          z-index: 2;
          position: absolute;
          color: $color-main;
          left: 50%;
          top: 50%;
          font-size: 30px;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }
  
      li:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }
  }
  
  /* media */
  
  @media (max-width: 767px) {
    .services .wrapper {
      flex-direction: column;
    }

    .wrapper-box {
      flex: 0 0 50%;
    }
  
    .navigation li {
      margin: 0 12px 0 0;
    }
  
    .container form,
    .data {
      min-width: 250px;
      margin: 48px auto;
      padding: 0;
    }
  
    footer {
      text-align: center;
      .wrapper {
        flex-direction: row;
        margin: auto;
        padding: 0;
      }
    }
  }
  